header{
  position: fixed;
  z-index: 6;
  width: 100%;
}

.header-content{
    background-color: #394B62;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.nav-bar-list{
  margin-right: 0;
}

.nav-bar-list ul{
    list-style: none;
}
.nav-bar-list ul li{
    display: inline-block;
    font-size: 18px;
    line-height: 1.3em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-bar-list ul li a{
    text-decoration: none;
    padding: 10px 0;
}
.search-icon{
    color: #333;
    cursor: pointer;
    display: none;
}
#myDIV{
    display: none;
}
#myDIV input{
    outline: none;
    padding: 10px;
    position: absolute;
    bottom: -50%;
    right: 5%;
    z-index: 5;
}
.fixed {
  position: sticky;
  top: 0;
  z-index: 777;
}
.logo{
  display: flex;
  align-items: center;
  margin-right: 30%;
}
.logo2{
  width: 200px;
}
.list-item:hover{
  color: #ffd166;
}
.talk{
    text-transform: uppercase;
    background-color: #ffd166;
    color: #fff;
    font-weight: 800;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.talk:hover{
    background-color: #33526f;
}

@media screen and (max-width: 1199px) {
  

  .header-content,.logo{
    display: block;

  }
  .logo{
    margin-right: 0;
    display: inline-block;
  }
  #nav_bar {
    display: none;
    margin-top: 41px;
    text-align: center;
    margin-bottom: 40px;
   
  }
  .ham_menu {
    display: block;
    cursor: pointer;
    float: right;
  }
  .button_content li {
    margin: 0;
  }


  .navbar {
    display: block;
  }

  .drop-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }
  .nav-bar-list ul li{
    display: block !important;
  }
  .nav-bar-list ul li{
    padding: 5px 0;
    margin-left: 0;
    margin: 0 auto;
  }
  .talk{
    max-width: 20%;
    margin-top: 10px !important;
  }
  .dropdown-content{
    left: -54% !important;
  }
}

@media screen and (max-width:767px) {
  .talk {
    max-width: 50%;
  }
}


