.quotes-info {
  padding-top: 8%;
  background-color: #e9f5f6;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.mission-heading {
  font-size: 56px;
  font-weight: 700;
  color: #394a62;
  margin: 0 auto;
  margin-bottom: 7%;
  text-align: center;
}
.info p {
  font-weight: bolder;
  font-size: 30px;
  color: #000;
  padding-bottom: 15%;
  margin: 0 auto;
}
.info-div {
  position: relative;
  text-align: center;
}
.story-info {
  text-align: center;
  padding: 50px 0;
}
.story-info h2 {
  font-weight: 700;
  font-size: 56px;
  color: #394a62;
  margin-bottom: 45px;
}
.story-info p {
  font-weight: bolder;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.story-imgs {
  display: block;
}
.story-inner-img {
  width: 100%;
}
.leadership-section {
  padding: 50px 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.leadership-section h2 {
  font-size: 56px;
  font-weight: 700;
  color: #394a62;
  margin-bottom: 30px;
}
.leadership-main-content {
  width: 100%;
}
.leadership-inner-content {
  margin: 0 auto;
  padding: 50px 100px;
}
.leadership-image img {
  margin: 0 auto;
  margin-right: 10%;
  width: 181px;
}
.leadership-inner-content h4 {
  font-size: 30px;
  margin: 20px 0;
  color: #ffd166;
  font-weight: 700;
  text-align: left;
}
.leadership-inner-content ul {
  list-style-type: square;
  text-align: left;
}
.leadership-inner-content ul li {
  font-size: 20px;
}
.leadership-content {
  margin-left: 20%;
}
.fix::after {
  content: "";
  clear: both;
  display: block;
}
.dan-trudel {
  background-color: #e9f5f6;
}
.chris-lee-image img {
  margin-top: 30%;
}
.about-banner{
  padding-top: 79px;
}
.quotation-mark{
  position: absolute;
  right: 0;
  bottom: 32%;
}

/* Responsive */

@media screen and (max-width: 1199px) {
  .bottom-cta {
    height: 500px !important;
  }
  .leadership-image img {
    margin-top: 50%;
  }
  .leadership-content {
    margin-left: 33%;
  }
}

@media screen and (max-width: 979px) {
  .bottom-cta {
    height: 365px !important;
  }
  .mission-heading {
    font-size: 52px;
  }
  .info p {
    font-size: 29px;
  }
  .leadership-content {
    margin-left: 36%;
  }

}

@media screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
  .quotes-info {
    padding-top: 26%;
  }
  .leadership-main-content,
  .story-imgs {
    display: block;
  }
  .story-inner-img {
    max-width: 100% !important;
    margin: 0 auto;
  }
  .leadership-inner-content {
    margin-bottom: 20px;
  }
  .info p {
    font-size: 21px;
  }
  .mission-heading {
    font-size: 40px;
  }
  .leadership-image {
    float: none;
  }
  .leadership-inner-content {
    padding: 20px 10px;
  }
  .leadership-image img {
    margin-right: 0;
    max-width: 100%;
    margin: 0 auto;
  }
  .leadership-content {
    margin-left: 5%;
    text-align: center;
  }
  .leadership-inner-content h4 {
    text-align: center;
  }
}
