.quotes-info {
  padding-top: 8%;
  background-color: #e9f5f6;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.mission-heading {
  font-size: 56px;
  font-weight: 700;
  color: #394a62;
  margin: 0 auto;
  margin-bottom: 7%;
  text-align: center;
}
.info p {
  font-weight: bolder;
  font-size: 30px;
  color: #000;
  padding-bottom: 15%;
  margin: 0 auto;
}
.info-div {
  text-align: center;
}
.story-info {
  text-align: center;
  padding: 50px 0;
}
.story-info h2 {
  font-weight: 700;
  font-size: 56px;
  color: #394a62;
  margin-bottom: 45px;
}
.story-info p {
  font-weight: bolder;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}
.story-imgs {
  display: flex;
}
.story-inner-img {
  width: 390px;
}
.leadership-section {
  padding: 50px 0;
  text-align: center;
}
.leadership-section h2 {
  font-size: 40px;
  font-weight: 700;
  color: #394a62;
  margin-bottom: 30px;
}
.leadership-main-content {
  display: flex;
  justify-content: space-around;
}
.leadership-inner-content h4 {
  font-size: 30px;
}
.leadership-inner-content p {
  font-size: 20px;
}

/* Responsive */

@media screen and (max-width: 1199px) {
  .bottom-cta {
    height: 500px !important;
  }
}

@media screen and (max-width: 979px) {
  .bottom-cta {
    height: 365px !important;
  }
  .story-inner-img {
    width: 375px;
  }
  .mission-heading {
    font-size: 52px;
  }
  .info p {
    font-size: 29px;
  }
}

@media screen and (max-width: 767px) {
  
  .container {
    width: 96%;
  }
  .quotes-info {
    padding-top: 26%;
  }
  .leadership-main-content,
  .story-imgs {
    display: block;
  }
  .story-inner-img {
    max-width: 100% !important;
    margin: 0 auto;
  }
  .leadership-inner-content {
    margin-bottom: 20px;
  }
  .info p {
    font-size: 21px;
  }
  .mission-heading {
    font-size: 40px;
  }
}
