/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/moderncomponents/footer.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
footer{
    padding: 50px;
    background-color: #33526f;
    color: #fff;
    font-family: 'Trebuchet MS';
}
.footer-content{
    width: 80%;
    margin: 0 auto;
}
.footer-inner-content{
    display: flex;
    justify-content: space-between;
}
.footer-inner-content h2{
    font-size: 1.3rem;
    line-height: 1.1em;
    margin: 30px 0;
    font-weight:500;
}
.footer-signup{
    width: 30%;
    margin-left: 30px;
}
.footer-signup p{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3em;
}
.footer-signup label{
    font-weight: 400 !important;
    font-size: 20px;
    letter-spacing: .5px;
}
.footer-signup label span{
    color: red;
}
.footer-signup #email{
    margin: 10px 0;
    height: 50px;
    padding: 0 10px;
    outline-style: none;
    border-radius: 5px;
}
.footer-signup #checkbox{
    margin-top: 10px;
    font-size: 20px;
}
.asterisk{
    color: red;
}
.footer-signup button,.footer-address button{
    display: block;
    background-color: aqua;
    padding: 10px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bolder;
}
.footer-signup button:hover,.footer-address button:hover{
    background-color: #33526f;
}
.footer-address{
    margin-left: 24px;
}
.footer-address p{
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 10px;
}
.social-icons-icon{
    border-radius: 20px;
    font-size: 40px;
    color: #fff;
    background-color: aqua;
    padding: 10px 5px;
}
.social-icons-icon:hover{
    background-color: #33526f;
}
.copy-rights{
    text-align: center;
    color: #fff;
    font-size: 19px;
    margin-top: 25px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/moderncomponents/navbar.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
header{
  position: fixed;
  z-index: 6;
  width: 100%;
}

nav{
    background-color: #33526f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.nav-bar-list{
  margin-right: 0;
}

.nav-bar-list ul{
    list-style: none;
}
.nav-bar-list ul li,.sol-btn{
    display: inline-block;
    font-size: 18px;
    line-height: 1.3em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-bar-list ul li a{
    text-decoration: none;
    padding: 10px 0;
}
.search-icon{
    color: #333;
    cursor: pointer;
    display: none;
}
#myDIV{
    display: none;
}
#myDIV input{
    outline: none;
    padding: 10px;
    position: absolute;
    bottom: -50%;
    right: 5%;
    z-index: 5;
}
.fixed {
  position: sticky;
  top: 0;
  z-index: 777;
}
.logo{
  display: flex;
  align-items: center;
  margin-right: 22%;
}
.logo2{
  width: 200px;
}

@media screen and (max-width: 1199px) {
  header {
    padding-bottom: 60px;
  }
  #nav_bar {
    display: none;
    margin-top: 41px;
    text-align: center;
    margin-bottom: 40px;
  }
  .ham_menu {
    display: block;
    cursor: pointer;
    float: right;
  }
  .button_content li {
    margin: 0;
  }

  nav button {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .navbar {
    display: block;
  }
  .arrow {
    display: block;
  }
  .drop-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 96%;
  }

  .banner_content h1 {
    font-size: 29px;
  }
  .banner_content p {
    font-size: 18px;
  }

  .page_banner {
    height: 400px;
  }
  .navbar_content {
    display: block;
  }
}



/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/moderncomponents/contactModal.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.contact-button{
    text-transform: uppercase;
    background-color: aqua;
    color: #fff;
    font-weight: 800;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.contact-button:hover{
    background-color: #33526f;
}
.modal-dialog{
    max-width: 50%;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/moderncomponents/dropdown.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.drop-content {
    position: absolute;
    z-index: 1;
    left: 47%;
    background-color: #394a62;
    border-radius: 10px;
    width: 250px;
    transition-duration: 1s;
    margin-top: 1.3%;
  }
  .drop-content ul li {
    padding: 5px 0;
    color: #fff;
    text-align: left;
    display: block; 
    margin-right: 0px; 
    font-size: 16px;
  }
  .drop-content ul li a:hover{
    color: #2DD3FA;
  }
  .drop-content ul {
    margin: 5px;
    padding: 6px;
  }
 
  
