.container {
  width: 1200px;
  margin: 0 auto;
}
.casestudies {
  padding: 79px 0;
}
.casestudies ul {
  list-style: disc;
}
.casestudies h2,
.casestudies h5,
.casestudies h4 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 700;
}
.casestudies h4 {
  font-size: 20px;
}
.casestudies h5{
  text-decoration: underline;
  font-size: 26px;
}
.casestudies p,
.casestudies ul li {
  font-size: 18px;
  margin: 10px 0;
  font-weight: lighter;
}
.casestudies ul {
  margin-top: 10px;
  margin-left: 50px;
}
.casestudies ul li {
  margin-bottom: 0;
}
.casestudies ul li strong {
  font-size: 20px;
  font-weight: bold;
}
.casestudies-heading{
  background-color: #e9f5f6;
  text-align: center;
  padding: 10px 0;
  font-size: 30px !important;
  margin: 20px 0 !important;
}
.casestudies-blog-image{
  background-image: url(../../../../public/casestudies-blog.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.highlightsprojectslink{
  text-align: center;
  margin-top: 3rem;
}
.highlightsprojectslink a{
  font-size: 18px;
  color: #fff;
  background-color: #ffd166;
  padding: 10px;
}
.highlightsprojectslink a:hover{
  background-color: #394b62;
}
.main-heading {
  text-align: left;
  font-family: "GT America", "Yahoo Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #232a31;
  font-size: 38px !important;
  font-style: normal;
  font-weight: 900;
}


/* Responsive */

@media screen and (max-width: 767px) {
  .container {
    width: 96% !important;
  }
}
