.contact-button{
    text-transform: uppercase;
    /* background-color: #F8C794; */
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid #F8C794; */
}
.modal-dialog{
    max-width: 50%;
}
