@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
}

/* Dropdown All pages CSS */

.page-banner.electrum-banner{
  position: relative;
  background-image: url(../../public/images/blue-bg.jpg);
  width: 100%;
  height: auto;
  min-height: 658px;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.featured-img-div {
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  bottom: -271.5px;
}
.car-single,
.car-multi,
.car-workplace,
.car-public,
.car-fleet {
  background-image: url(../../public/images/car-single.jpg);
  width: 80%;
  height: 640px;
  position: absolute;
  top: 75%;
  left: 10%;
}
.car-multi {
  background-image: url(../../public/multi-banner.jpg);
}
.car-public {
  background-image: url(../../public/public-banner.jpg);
}
.car-workplace {
  background-image: url(../../public/Workplace.jpg);
}
.car-fleet {
  background-image: url(../../public/fleet-banner.jpg);
}

.page-banner-text {
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
  top: 120px;
}
.page-banner-text .banner-title {
  width: 80%;
  margin: 0 auto 30px auto;
  text-align: center;
}
.page-banner-text .banner-title h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.page-banner-text .banner-text {
  width: 35%;
  margin: 0 auto;
  text-align: center;
}
.page-banner-text .banner-text p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}
.laptop-images,.mobile-images{
  padding: 0 20px;
}
.mobile-images img,.laptop-images img{
  width: 97%;
}

.bottom-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../public/images/single-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 635px;
}
/* .bottom-cta .bottom-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../public/images/bottom-poly-stroke.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 635px;
  display: none !important;
} */
.bottom-cta .bottom-cta-text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
}
.bottom-cta .bottom-cta-text h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 45px;
}
.home-cta-btn {
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  background-color: #ffd166;
  max-width: 152px;
  max-height: 58px;
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}
.page-info-icons {
  display: flex;
  gap: 15px;
  width: 95%;
  background: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}
.page-info-public-content {
  margin-bottom: 5%;
}
.page-info-icons .icon-div {
  text-align: center;
  padding: 15px;
}
.page-info-icons .icon-div .page-icon-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100px;
}
.page-info-icons .icon-div .page-icon-div img {
  height: 66px;
  width: auto;
}
.page-info-icons .icon-div .page-icon-info-div {
  height: 200px;
}
.page-info-icons .icon-div .page-icon-info-div h3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394a62;
}
.page-info-icons .icon-div .page-icon-info-div p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  color: #394a62;
}

.public-services-info,
.fleet-services-info {
  margin-top: 30rem;
  text-align: center !important;
  padding: 50px 0;
}
.public-services-info h2,
.fleet-services-info h2 {
  color: #394a62;
  font-weight: 700;
  font-size: 40px;
}
.public-services-info-main-content,
.fleet-services-info-main-content {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}
.public-services-info-inner-content h4,
.fleet-services-info-inner-content {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.public-services-info-inner-content p,
.fleet-services-info-inner-content p {
  font-size: 20px;
}

/* Responsive Dropdown Pages */

@media screen and (max-width: 1199px) {
  .page-banner-text .banner-title h1 {
    font-size: 48px;
  }
  .car-single,
  .car-multi,
  .car-workplace,
  .car-public,
  .car-fleet {
    height: 543px;
    top: 77%;
  }
  .page-banner-text .banner-text {
    width: 47%;
  }
  .workplace-page-icon-heading{
    font-size: 14px !important;
  }
  .page-info-icons{
    gap: 3px;
    width: 100%;
    margin-top: 45%;
  }
  .page-info-icons .icon-div{
    padding: 6px;
  }

  
}

@media screen and (max-width: 979px) {
  .bottom-cta {
    height: 365px !important;
  }
  .page-banner-text .banner-text p {
    font-size: 22px;
  }
  .page-banner-text .banner-text {
    width: 53%;
  }
  .car-single,
  .car-multi,
  .car-workplace,
  .car-public,
  .car-fleet {
    height: 440px;
  }
  .page-info-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .page-info-icons .icon-div .page-icon-info-div {
    height: 150px;
  }
  .public-services-info,
  .fleet-services-info {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .page-banner-text .banner-title {
    width: 100%;
  }
  .page-banner-text .banner-text {
    width: 96%;
  }
  .car-single,
  .car-multi,
  .car-workplace,
  .car-public,
  .car-fleet {
    width: 88%;
    margin-bottom: 0% !important;
    height: 400px;
  }
  .car-workplace {
    top: 77%;
    left: 6%;
  }
  .car-fleet {
    top: 73%;
    left: 6%;
  }
  .car-public {
    top: 80%;
    left: 6%;
  }
  .car-multi {
    top: 90%;
    left: 6%;
    height: 320px;
  }

  .mobile-images,.laptop-images{
    display: block !important;
  }
  .page-info-icons {
    display: block;
    margin-top: 17rem;
  }
  .page-info-icons .icon-div {
    margin: 0 auto;
  }
  .multi-project-inner-content,
  .public-project-inner-content,
  .workplace-project-inner-content,
  .fleet-project-inner-content {
    display: block !important;
    margin: 0 auto;
    margin: 0 20px !important;
  }
  .multi-left-content,
  .public-left-content,
  .workplace-left-content,
  .fleet-left-content {
    width: 100% !important;
    margin-right: 37px;
    margin: 0 15px;
  }
  .bottom-cta {
    max-width: 100% !important;
  }
  .public-image {
    margin-top: 20px;
  }
  .project-heading{
    font-size: 40px !important;
  }

  .public-services-info-main-content,
  .fleet-services-info-main-content {
    display: block !important;
  }
  .services-info-inner-content {
    margin-bottom: 20px;
  }
  .public-services-info,
  .fleet-services-info {
    margin-top: 25rem;
  }
  .public-services-info-inner-content,
  .fleet-services-info-inner-content {
    margin-bottom: 20px;
  }
}
