.container {
  width: 1200px;
  margin: 0 auto;
}
.incentives {
  padding: 79px  0 50px 0;
}
.incentives ul {
  list-style: disc;
}
.incentives h4,
.incentives h2 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 700;
}
.incentives p,
.incentives ul li {
  font-size: 18px;
  margin: 10px 0;
  font-weight: lighter;
}
.incentives ul li {
  margin-bottom: 0;
}
.incentives p strong {
  font-size: 20px;
  font-weight: bold;
}
.article{
  font-size: 22px;
  padding-left: 10px;
  color: #000;
  margin-top: 10px;
  display: block;
}
.incentives-heading{
  background-color: #e9f5f6;
  text-align: center;
  padding: 10px 0;
  font-size: 26px !important;
  margin: 20px 0 !important;
}
.incentives-blog-image{
  background-image: url(../../../../public/incentives-blog.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* Responsive */

@media screen and (max-width: 767px) {
  .container {
    width: 96% !important;
  }
}
