.process-div {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-image: url(../../public/images/page-geometry1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.process-div .process-bottom-arrow-div {
  position: absolute;
  bottom: -10px;
  width: 50%;
  left: 51%;
}
.process-div h2 {
  font-size: 40px;
  font-weight: 700;
  color: #394a62;
}
.process-div .process-card-div {
  position: absolute;
  z-index: 2;
  width: 75%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: 0 0;
  gap: 30px;
}
.process-div .process-card-div h2 {
  color: #394a62;
  font-weight: 700;
  font-size: 40px;
}
.process-div .process-card-div .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.process-div .process-card-div .card-container .process-card {
  text-align: center;
  margin-top: 8%;
}
.process-div .process-card-div .card-container .process-card .process-img-div,
.process-div .process-card-div .card-container .process-card .process-info {
  height: 100px;
  width: 150px;
}
.process-div .process-card-div .card-container .process-card .process-img-div {
  position: relative;
}
.process-div
  .process-card-div
  .card-container
  .process-card
  .process-img-div
  .process-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.process-div .process-card-div .card-container .process-card .process-info {
  padding: 15px;
  margin-top: 22px;
}
.process-div .process-card-div .card-container .process-card .process-info p {
  font-weight: 700;
  font-size: 16px;
}
.process-arrow{
  /* position: absolute;
    top: 20%;
    left: 20% */
}

@media screen and (max-width: 1200px) {
  .process-div {
    min-height: 950px;
  }

  .process-div .process-card-div .card-container .card-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }
  .process-div .process-card-div .card-container {
    gap: 20px;
  }
}
@media screen and (max-width: 980px) {
  .process-div .process-card-div .card-container .process-card .process-img-div,
  .process-div .process-card-div .card-container .process-card .process-info {
    width: 120px;
  }
  .process-div .process-card-div .card-container {
    gap: 10px;
  }
  .process-div .process-card-div .card-container .process-card .process-info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .process-div {
    min-height: 1000px;
  }
  .process-div .process-card-div .card-container {
    display: block;
  }
  .process-div .process-card-div .process-card.process-card-mobile {
    display: flex;
    align-items: center;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
  }
  .process-div
    .process-card-div
    .process-card.process-card-mobile
    .process-img-div,
  .process-div
    .process-card-div
    .process-card.process-card-mobile
    .process-info {
    display: flex;
    align-items: center;
    border-radius: 0;
  }
  .process-div
    .process-card-div
    .process-card.process-card-mobile
    .process-img-div {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .process-div
    .process-card-div
    .process-card.process-card-mobile
    .process-info {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    flex: 1;
  }
  .process-div .process-card-div .down-arrow {
    margin-bottom: 15px;
  }

  .process-div .process-card-div .card-container .process-card .process-info {
    width: 100%;
    height: 80px;
  }
  .process-div
    .process-card-div
    .card-container
    .process-card
    .process-img-div {
    width: 100%;
  }
  .process-card {
    margin: 20px 0;
  }
  .process-arrow,
  .process-bottom-arrow {
    display: none;
  }
}
