.fleet-project {
  padding: 50px 0;
}
.fleet-project-inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 20px 0;
}
.project-heading {
  font-size: 40px;
  font-weight: 700;
  color: #394a62;
  text-align: center;
  margin-bottom: 45px;
}
.project-inner-heading {
  color: #394a62;
}
.fleet-left-content {
  width: 50%;
  font-size: 22px;
  margin-right: 37px;
}
.fleet-left-content ul li {
  list-style-type: square;
  margin-top: 20px;
}
.fleet-image,.fleet-project3 img{
  width: 700px;
}
.fleet-left-content,
.fleet-inner-heading {
  font-size: 22px;
  font-weight: 600;
}
