.container {
  width: 1200px;
  margin: 0 auto;
}
.blog-card {
  background-color: #fff;
  width: 25.9%;
  border-radius: 5px;
}
.blog-image {
  width: 305px;
  height: 305px;
  display: block;
  transition: transform 1s ease-out;
}
.blog-card-image {
  overflow: hidden;
}
.blog-image:hover {
  max-width: 100%;
  transform: scale(1.4);
  transition: transform 1s ease-in;
}
.blog-content {
  padding: 100px 0;
  /* background-image: url(../../../public/images/blue-bg.jpg); */
  background-color: #f3f3f2;
}
.blog-info {
  padding: 30px 10px;
}
.blog-info h6 {
  color: #000028;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.blog-info a {
  color: #000028;
  font-size: 20px;
  font-weight: lighter;
  line-height: 3px;
}
.blog-info a:hover {
  color: #2dd3fa;
}

/* Responsive */

@media screen and (max-width: 1199px) {
  .blog-card {
    width: 50%;
  }
  .blog-card-image a img {
    width: 100%;
  }
}

@media screen and (max-width: 979px) {
  .blog-card {
    width: 50%;
  }
  .blog-card-image a img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
  .blog-card {
    width: 100%;
  }
  .blog-card-image a img {
    width: 100%;
    height: auto;
  }
}
