.services-info{
    margin-top: 40%;
    text-align: center !important;
    padding: 50px 0;
}
.services-info h2{
    color: #394a62;
    font-weight: 700;
    font-size: 40px;
}
.services-info-main-content{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.services-info-inner-content h4{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
} 
.services-info-inner-content p{
    font-size: 20px;
}