.img-slide {
  width: 100%;
  height: 700px;
}
.slider-content h3,
.slider-content p {
  font-weight: bolder;
  color: #fff;
  font-size: 49px;
}
.carousel-caption {
  width: 40%;
  left: 0% !important;
  top: 35%;
}
.slider-content p {
  font-size: 25px;
}
.caption {
  display: none;
}
.caption h3,
.caption p {
  color: #000;
}
