.home-cta-btn {
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  color: #03488d;
  background-color: #f2d499;
  max-width: 152px;
  max-height: 58px;
  padding: 15px 20px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
.home-cta-btn:hover {
  background-color: #f7dca8;
}
.home-banner {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.home-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.home-overlay .home-overlay-img {
  width: 100%;
  height: auto;
}
.home-banner.top-banner {
  height: 658px;
}
.home-overlay.top-overlay .home-overlay-img {
  height: 658px;
}
.home-banner.industry-banner {
  height: 1500px;
}
.electrum-home {
  min-height: 658px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/images/home-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.electrum-home .home-banner {
  max-height: 658px;
}
.electrum-home .home-overlay {
  opacity: 0.7;
  height: 658px;
  background-image: url(../../../public/images/home-banner-color.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.electrum-home .home-banner-text {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.electrum-home .home-banner-text div {
  width: 60%;
}
.electrum-home .home-banner-text h1,
.electrum-home .home-banner-text p {
  color: #fff;
}
.electrum-home .home-banner-text h1 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 56px;
}
.electrum-home .home-banner-text p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 45px;
  font-weight: 300;
}
.electrum-industry-cards {
  position: relative;
  background-image: url(../../../public/images/homepage-geometry1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}
.electrum-industry-cards .card-container {
  margin-top: 10%;
  z-index: 2;
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.electrum-industry-cards .card-container .industry-card.title-card .inner-card {
  background: #394a62;
  color: #fff;
  display: block;
  text-align: justify;
}
.electrum-industry-cards .card-container .industry-card.title-card h2 {
  font-size: 50px;
}
.electrum-industry-cards .card-container .industry-card.title-card svg {
  margin-top: 15px;
}
.electrum-industry-cards .card-container .industry-card {
  padding: 15px;
  height: 360px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.electrum-industry-cards .card-container .industry-card .inner-card {
  height: 360px;
  background: #fff;
  text-align: center;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  gap: 15px;
  padding: 30px;
}
.electrum-industry-cards .card-container .industry-card .inner-card .card-info {
  height: 270px;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-info
  .image-div {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-info
  h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #394a62;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-info
  p {
  color: #333;
  font-weight: lighter;
  font-size: 16px;
}
.electrum-industry-cards .card-container .industry-card .inner-card .card-link {
  padding: 15px;
  font-size: 16px;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-link
  a {
  color: #03488d;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-link
  a:hover {
  color: #23527c;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-link
  a:hover
  svg
  path {
  stroke: #23527c;
}
.electrum-industry-cards
  .card-container
  .industry-card
  .inner-card
  .card-link
  .link-arrow {
  margin-left: 15px;
}
.card-link a {
  text-decoration: none;
}
.process-info {
  text-align: left;
}
.process-info-heading {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
}
.step-info h5 {
  font-size: 30px;
  font-weight: 300;
  margin: 30px 0;
  text-align: left;
  text-transform: uppercase;
}
.process-info p {
  font-size: 16px;
  text-align: left;
}

.insights-div {
  width: 100%;
  padding: 0;
  background: #394a62;
  position: relative;
  text-align: center;
  min-height: 600px;
}
.insights-div h2 {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  margin-bottom: 60px;
}
.insights-div .insight-feature {
  text-align: center;
  min-height: 250px;
  color: #fff;
}
.insights-div .insight-feature svg {
  overflow: visible;
}
.insights-div .insight-feature h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.smart-energy-container,
.process-info-container {
  width: 60%;
  margin: 0 auto;
}
.process-info-container {
  margin-left: 10%;
}
.smart-energy-content img {
  margin: 0 auto;
}
.smart-energy-content h3 {
  margin-bottom: 10px !important;
}
.smart-image {
  margin-top: -10px !important;
}

.insights-div .insight-feature p {
  font-weight: 300;
  font-size: 14px;
}
.testimonials-div {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-height: 550px;
  background: #fff;
  position: relative;
}
.testimonials-div .poly-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}
.testimonials-div .advantage-div {
  margin-top: 250px;
  z-index: 1;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials-div .advantage-content {
  width: 100%;
}

.testimonials-div .advantage-div h2 {
  font-size: 40px;
  font-weight: 700;
  color: #394a62;
  margin-bottom: 30px;
}
.testimonials-div .advantage-div .advantage-info {
  text-align: center;
}
.testimonials-div .advantage-div .advantage-info h3 {
  text-transform: uppercase;
  color: #394a62;
  font-weight: 700;
  font-size: 16px;
}
.testimonials-div .advantage-div .advantage-info p {
  color: #333;
}
.testimonial-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.electrum-industry-cards .card-container .industry-card .inner-card .card-info p{
  font-weight: 300;
  margin-top: 20px;
}

@media screen and (max-width: 1450px) {
    .electrum-industry-cards .card-container .industry-card.title-card h2 {
      font-size: 42px;
    }
  }

@media screen and (max-width: 1200px) {
  .electrum-industry-cards {
    min-height: 1450px;
    background-size: cover;
  }
  .electrum-industry-cards .card-container {
    margin-top: 0;
    width: 80%;
  }
  .electrum-industry-cards
    .card-container
    .industry-card.title-card
    .inner-card {
    text-align: left;
  }

  .testimonials-div .advantage-div {
    margin-top: 10vh;
  }
  .testimonials-div .testimonial-cards .testimonial-slider {
    transform: translateX(-334.5px);
  }
  .testimonials-div .testimonial-cards .testimonial-slider .testimonial-card {
    width: 669px;
  }
  .testimonials-div .testimonial-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 0 auto;
  }
  .testimonials-div .testimonial-logos img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 980px) {
    .electrum-industry-cards {
      min-height: 1200px;
    }
    .electrum-industry-cards .card-container .inner-card-container {
      display: block !important;
    }
    .card-inner-content,.smart-inner-content{
        display: block !important;
    }
    .insights-div{
        min-height: 1000px;
    }
  } 
  

@media screen and (max-width: 700px) {
  .electrum-stats {
    display: none;
  }
  .electrum-industry-cards {
    margin-top: -20vh;
    min-height: 2650px;
  }
  .electrum-industry-cards .card-container .industry-card.title-card {
    height: auto;
    margin-bottom: 15px;
    margin-top: -30px;
  }
  .electrum-industry-cards
    .card-container
    .industry-card.title-card
    .inner-card {
    background: 0 0;
    border-radius: none;
    height: auto;
    border: none;
    color: #394a62;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    border-radius: 0;
    box-shadow: none;
  }
  .electrum-industry-cards
    .card-container
    .industry-card.title-card
    .inner-card
    svg {
    display: block;
    margin: 0 auto;
  }
  .insights-div {
    min-height: 1250px;
  }
  .insights-div .insight-feature {
    display: flex;
    gap: 30px;
    min-height: 150px;
  }
  .insights-div .insight-feature div {
    text-align: left;
    margin-top: 2px;
  }
  .insights-div .insight-feature div h3 {
    margin-top: 0;
  }
  .testimonials-div .testimonial-cards {
    min-height: 650px;
    margin-top: 75px;
  }
  .testimonials-div .testimonial-cards .testimonial-slider {
    transform: translateX(-187.5px);
  }
  .testimonials-div .testimonial-cards .testimonial-slider .testimonial-card {
    width: 375px;
    height: 590px;
    display: block;
  }
  .testimonials-div .testimonial-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 0 auto;
  }
  .testimonials-div .testimonial-logos img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .electrum-home .home-banner-text div {
    width: 80%;
  }
}

