/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/about/About.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.page-banner.electrum-banner {
  position: relative;
  background-image: url(/_next/static/media/page-banner-background.d25f6c66.png);
  width: 100%;
  height: auto;
  min-height: 658px;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-overlay {
  height: auto;
  min-height: 658px;
  background-image: url(/_next/static/media/page-banner-geometry.330e1aca.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.featured-img-div {
  background-image: url(/_next/static/media/page-example.0ed0dc9c.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  z-index: 2;
  width: 966px;
  height: 543px;
  margin: 0 auto;
  position: relative;
  bottom: -271.5px;
}
.page-banner-text {
  z-index: 2;
  width: 100%;
  text-align: center;
  position: relative;
  top: 120px;
}
.page-banner-text .banner-title {
  width: 80%;
  margin: 0 auto 30px auto;
  text-align: center;
}
.page-banner-text .banner-title h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.page-banner-text .banner-text {
  width: 35%;
  margin: 0 auto;
  text-align: center;
}
.page-banner-text .banner-text p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}
.electrum-about .our-story {
  background: #fff;
  max-height: 500px;
  margin-top: 271.5px;
}
.electrum-about .our-story .our-story-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
}
.electrum-about .our-story .our-story-container .story-info {
  position: relative;
  padding: 30px;
}
.electrum-about .our-story .our-story-container .story-info h2 {
  font-weight: 700;
  font-size: 40px;
  color: #394a62;
  margin-bottom: 45px;
}
.electrum-about .our-story .our-story-container .story-info p {
  font-weight: 300;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}
.electrum-about .our-story .our-story-container .story-imgs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.electrum-about .our-story .our-story-container .story-imgs .story-inner-img {
  width: 50%;
  height: auto;
  border-radius: 6px;
}
.electrum-about .quotes-info {
  position: relative;
  background-image: url(/_next/static/media/about-page-geometry.167daaf7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 800px;
  width: 100%;
}
.electrum-about .quotes-info .info-div {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.electrum-about .quotes-info .info-div .info {
  border-left: 1px solid #f2d499;
  padding-left: 15px;
  margin-top: 15px;
}
.electrum-about .quotes-info .info-div .info p {
  font-weight: light;
  font-size: 30px;
  color: #333;
}
.electrum-about .quotes-info .info-div .info-stats {
  display: flex;
  gap: 60px;
  width: 100%;
}
.electrum-about .quotes-info .info-div .info-stats .stat {
  padding: 30px;
  text-align: center;
}
.electrum-about .quotes-info .info-div .info-stats .stat h3,
.electrum-about .quotes-info .info-div .info-stats .stat p {
  text-transform: uppercase;
  font-weight: 700;
}
.electrum-about .quotes-info .info-div .info-stats .stat h3 {
  font-size: 56px;
  color: #dda94e;
  margin-bottom: 15px;
}
.electrum-about .quotes-info .info-div .info-stats .stat p {
  font-size: 16px;
  color: #394a62;
}
.electrum-about .about-icons {
  position: relative;
  width: 50%;
  background: #fff;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 60px;
  min-height: 850px;
}
.electrum-about .about-icons .icons,
.electrum-about .about-icons .icons-title {
  width: 50%;
}
.electrum-about .about-icons .icons-title h2 {
  font-size: 40px;
  color: #394a62;
  font-weight: 700;
  margin: 20px 0;
}
.electrum-about .about-icons .icons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.electrum-about .about-icons .icons .icon-div img {
  width: 90px;
  height: 90px;
}
.electrum-about .about-icons .icons .icon-div h3,
.electrum-about .about-icons .icons .icon-div p {
  font-size: 16px;
}
.electrum-about .about-icons .icons .icon-div h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #394a62;
  margin: 10px 0;
}
.electrum-about .about-icons .icons .icon-div p {
  font-weight: 300;
  color: #333;
}
.electrum-about .about-bottom-banner {
  width: 100%;
  min-height: 850px;
  margin-bottom: -25vh;
  position: relative;
  background-image: url(/_next/static/media/about-bottom-bg.3e889fdc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
}
.electrum-about .about-bottom-banner .about-bg {
  display: none;
  background-image: url(/_next/static/media/about-mobile-bottom.269341dd.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.electrum-about .about-bottom-banner .bottom-banner-text {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.electrum-about .about-bottom-banner .bottom-banner-text h3 {
  font-size: 40px;
  font-weight: 700;
  color: #394a62;
  margin-bottom: 30px;
}
.electrum-about .about-bottom-banner .bottom-banner-text p {
  font-weight: 300;
  font-size: 18px;
  color: #333;
  margin-bottom: 60px;
}
.electrum-about .about-bottom-banner .about-bottom-links {
  width: 60%;
}
.electrum-about .about-bottom-banner .about-bottom-links a {
  display: block;
  font-weight: 300;
  margin-bottom: 30px;
}

.bottom-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(/_next/static/media/bottom-geometry-mask.3c6ba266.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 510px;
}
.bottom-cta .bottom-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/_next/static/media/bottom-poly-stroke.8f757667.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 510px;
}
.bottom-cta .bottom-cta-text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
}
.bottom-cta .bottom-cta-text h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 45px;
}
.home-cta-btn {
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  color: #03488d;
  background-color: #f2d499;
  max-width: 152px;
  max-height: 58px;
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
/* Responsive */

@media screen and (max-width: 1200px) {
  .featured-img-div {
    width: 669px;
    height: 375px;
    bottom: -187.5px;
  }
  .page-banner-text {
    top: 100px;
  }
  .page-banner-text .banner-title {
    width: 100%;
  }
  .page-banner-text .banner-text {
    width: 50%;
  }
}
.electrum-about .our-story {
  width: 50%;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 25%;
}

.electrum-about .our-story .our-story-container {
  width: 100%;
  min-height: 600px;
}
.electrum-about .our-story .our-story-container .story-info {
  width: 80%;
  margin: 0 auto;
}
.electrum-about .our-story .our-story-container .story-imgs {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 50%;
  bottom: -37vh;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
.electrum-about .our-story .our-story-container .story-imgs img {
  width: 50%;
  height: auto;
  border-radius: 6px;
}
.electrum-about .quotes-info {
  min-height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.electrum-about .quotes-info .info-div {
  margin-top: 60px;
  width: 75%;
}
.electrum-about .quotes-info .info-div .info-stats {
  gap: 30px;
}
.electrum-about .about-icons {
  width: 75%;
  display: block;
  margin-top: 60px;
  min-height: 700px;
}
.electrum-about .about-icons .icons-title {
  width: 43%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.electrum-about .about-icons .icons {
  width: 100%;
}
.icons .icon-div{
    text-align: center;
}
.icons .icon-div div img{
    margin: 0 auto;
}
.electrum-about .about-bottom-banner {
  background: #f2f5f8;
  background-image: none;
  min-height: 1200px;
}
.electrum-about .about-bottom-banner .about-bg {
  display: block;
  width: 100%;
  min-height: 470px;
}
.electrum-about .about-bottom-banner .bottom-banner-text {
  position: initial;
  width: 75%;
  text-align: center;
  margin: 20% 10% 0 10%;
  transform: none;
  text-align: left;
}
.electrum-about .about-bottom-banner .about-bottom-links {
  width: 75%;
}

@media screen and (max-width: 700px) {
  .page-banner-text {
    top: 90px;
  }
  .page-banner.electrum-banner {
    min-height: 550px;
  }
  .banner-overlay {
    min-height: 550px;
  }
  .featured-img-div {
    width: 400px;
    height: 225px;
    bottom: -112.5px;
  }
  .page-banner-text .banner-text {
    width: 60%;
  }

  .electrum-about .our-story {
    margin-top: 95px;
    max-height: 1000px;
  }
  .electrum-about .our-story .our-story-container {
    min-height: 900px;
  }
  .electrum-about .our-story .our-story-container .story-info {
    text-align: center;
    margin-bottom: 60px;
  }
  .electrum-about .our-story .our-story-container .story-imgs {
    display: block;
    bottom: -30vh;
  }
  .electrum-about .our-story .our-story-container .story-imgs img {
    width: 75%;
    height: auto;
    border-radius: 6px;
    float: right;
  }
  .electrum-about .our-story .our-story-container .story-imgs img:first-child {
    float: left;
  }
  .electrum-about .quotes-info {
    min-height: 1400px;
  }
  .electrum-about .quotes-info .info-div {
    margin-top: 90px;
  }
  .electrum-about .quotes-info .info-div .info-stats {
    display: block;
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }
  .electrum-about .about-icons {
    min-height: 1000px;
  }
  .electrum-about .about-icons .icons {
    display: block;
  }
  .electrum-about .about-icons .icons .icon-div {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
  }
  .electrum-about .about-icons .icons-title {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .page-banner-text {
    top: 75px;
  }
  .page-banner.electrum-banner {
    min-height: 500px;
  }
  .banner-overlay {
    min-height: 500px;
  }
  .page-banner-text .banner-text {
    width: 90%;
  }
  @media screen and (max-width: 450px) {
    .electrum-about .quotes-info {
      min-height: 1800px;
    }
    .electrum-about .quotes-info .info-div {
      margin-top: 15px;
    }
    .electrum-about .about-icons .icons-title {
      width: 100%;
    }
  }
}

